/*---------------------
[Responsive Stylesheet]
---------------------*/

/* Laptop Landscape */
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
	
}

/* Tablet Landscape */
@media only screen and (min-width: 960px) and (max-width: 1200px) {
	
}

/* Tablet Portrait */
@media only screen and (min-width: 760px) and (max-width: 960px){
	
}

/* Mobile Landscape */
@media only screen and (min-width: 760px) {
	
}

@media only screen and (min-width: 760px) {
	

	
} 

@media only screen and (max-width: 760px) {
	

	
	.ico-absolute{ position: absolute; top: -12px; left: 10px;}
	.paddingTopAb{ padding-top: 34px;}
	
}



/* Mobile Portrait */
@media only screen and (max-width: 460px) {

.cnt-center {
    margin: 0 auto 0;
    padding: 0px;
	 width: 100%;
}
.css-inlineBlock{display: inline-block;}
.ocultaM{display: none;}
.css-txt-M{ text-transform: uppercase;}
.css-paddingB20-M{ padding-bottom: 20px !important;}	
.btn-reservasM {width: 46%; margin: 2%; }

}

/* Old Mobiles */
@media only screen and (max-width: 320px) {
	
}

