// Reglas generales
.css-border-right { border-right: 1px solid #ebebeb; }
.css-border-left{ border-left:1px solid #d8d2cf;}
.css-border-top{ border-top:1px solid #d8d2cf;}
.css-border-bottom { border-bottom:1px solid #d8d2cf;}
.css-noPadding{ padding:0!important;}
.css-noMargin{ margin:0!important;}
.css-noFloat{ float:none!important;}
.css-noBackground { background-color: transparent!important;}
.css-underline { text-decoration: underline!important;}
.css-line-through { text-decoration:line-through!important;}
.css-relative{ position:relative;}
.css-hide{ display:none; }
.css-shadow { -webkit-box-shadow: -5px 6px 5px -4px rgba(0,0,0,0.75); -moz-box-shadow: -5px 6px 5px -4px rgba(0,0,0,0.75); box-shadow: -5px 6px 5px -4px rgba(0,0,0,0.75);}
.css-uppercase{ text-transform: uppercase;}
.css-italic { font-style: italic;}
.css-show { display: block!important; }
.btn-link {
    border: 2px solid #96d3e0!important;
    color: #96d3e0;
    border-radius: 0;
}

// Margenes y padding
@for $i from 0 through 100 {
    @if $i % 5 == 0 {
        .css-marginR#{$i} { margin-right: #{$i}px!important; }
        .css-marginL#{$i} { margin-left: #{$i}px!important; }
        .css-marginT#{$i} { margin-top: #{$i}px!important; }
        .css-marginB#{$i} { margin-bottom: #{$i}px!important; }
        .css-paddingR#{$i} { padding-right: #{$i}px!important; }
        .css-paddingL#{$i} { padding-left: #{$i}px!important; }
        .css-paddingT#{$i} { padding-top: #{$i}px!important; }
        .css-paddingB#{$i} { padding-bottom: #{$i}px!important; }
    }
}

// Tamaños de fuentes
@for $i from 1 through 50 {
    .css-fontSize#{$i} { font-size:#{$i}px!important; }
}