// AdminLTE 2 Variables.less
// =========================

// COLORS
// --------------------------------------------------------
// Primary
$light-blue: #3c8dbc;
// Danger
$red: #dd4b39;
// Success
$green: #75c6c7;
// Info
$aqua: #00c0ef;
// Warning
$yellow: #f39c12;
$blue: #0073b7;
$navy: #001F3F;
$teal: #39CCCC;
$olive: #3D9970;
$lime: #01FF70;
$orange: #FF851B;
$fuchsia: #F012BE;
$purple: #605ca8;
$maroon: #D81B60;
$black: #111;
$title-color: #377789;
$default-text-color: #333e47;
$gray-lte: #d2d6de;
$bg-gray: #d9d9d9;
$bg-blue-gray: #184556;


// FORMS
// --------------------------------------------------------
$input-radius: 0;

// BUTTONS
// --------------------------------------------------------

// Border radius for non flat buttons
$btn-border-radius: 3px;

// DIRECT CHAT
// --------------------------------------------------------
$direct-chat-height: 250px;
$direct-chat-default-msg-bg: $gray-lte;
$direct-chat-default-font-color: #444;
$direct-chat-default-msg-border-color: $gray-lte;

// CHAT WIDGET
// --------------------------------------------------------
$attachment-border-radius: 3px;

// TRANSITIONS SETTINGS
// --------------------------------------------------------

// Transition global options
$transition-speed: .3s;
$transition-fn: ease-in-out;
