@mixin declareFonts($path, $font_name) {
    font-family: '#{$font_name}';
    src: url('#{$path}.woff2') format('woff2'),
         url('#{$path}.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// Fuentes
@font-face {
    @include declareFonts('../fonts/museo/museo_slab_700-webfont', 'museo_slab700');
}

@font-face {
    @include declareFonts('../fonts/raleway_medium/raleway-medium-webfont', 'raleway_medium');
}

@font-face {
    @include declareFonts('../fonts/raleway_regular/raleway-regular-webfont', 'raleway_regular');
}

@font-face {
    @include declareFonts('../fonts/raleway_semibold/raleway-semibold-webfont', 'raleway_semibold');
}

body {
    overflow-x: hidden;
    font-family: 'raleway_regular';
}

h2, h1 {
    font-family: 'museo_slab700';
}

// imports
@import "variables";
@import "standart-rules";
@import "buttons";
@import "select2";

.css-font-museo { font-family: 'museo_slab700'; }
.css-font-raleway_regular { font-family: 'raleway_regular'; }
.css-font-raleway_semibold { font-family: 'raleway_semibold'; }
.css-font-raleway_medium { font-family: 'raleway_medium'; }

// Custom classes
.css-header {
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $bg-blue-gray;
}

.css-index-header { background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), var(--index-header-image); }
.css-destinations-header { background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), var(--destinations-header-image); }
.css-courses-header { background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), var(--courses-header-image); }
.css-courses-detail-header { 
    background-position: right;
    background-size: 65% auto;
    background-repeat: no-repeat;
    background-color: $bg-blue-gray;
}
.css-team-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), var(--team-header-image);
    background-position: center 0;
}
.css-team-detail-header { height: 220px; }
.css-background-default { background-color: $bg-blue-gray; }


.css-navigation {
    position: absolute;
    width: 100%;
    top: 0;

    .navbar {
        z-index: 9999;

        .navbar-toggler {
            z-index: 9999;
        }
    }

    .navbar-light {
        .navbar-text {
            color: #FFF;
            font-family: 'raleway_semibold';
        }

        .css-nav-mobile-icon {
            display: none;
        }

        .navbar-nav {
            .nav-link {
                color: #FFF;
                padding-right: 1.5rem;
                padding-left: 1.5rem;
                font-family: 'raleway_semibold';
            }
    
            .nav-link:hover {
                color: #FFF;
                text-decoration: underline;
            }
        }
    }

    .nav-link {
        color: #FFF;
        font-family: 'raleway_semibold';
    }

    .css-fixed-logo {
        display: none;
    }

    .css-navbar-fixed-top {
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        z-index: 1030;
        background-color: #FFF;
        
        .navbar-nav {
            .nav-link {
                color: #333e47;

                &:hover {
                    color: #333e47;
                    text-decoration: underline;
                }
            }
        }

        .css-fixed-logo {
            display: block;
            
            img {
                width: 100px;
                height: auto;
            }
        }

        .navbar-nav {
            float: right;
            margin-right: 0!important;
        }
    }

    // Menu mobile
    #mobile-menu {
        display: none;
    }
}

#index-slider {
    .carousel-inner {
        .carousel-item {
            .carousel-caption {
                position: absolute;
                right: inherit;
                bottom: inherit;
                top: 37%;
                left: 15%;
                z-index: 10;
                padding-top: 20px;
                padding-bottom: 20px;
                color: #fff;
                text-align: left;

                h1 {
                    font-size: 44px;
                    font-weight: bold;
                }

                p {
                    font-family: 'museo_slab700';
                    font-size: 33px;
                }

                .btn-link {
                    font-family: 'museo_slab700';
                    border: 2px solid #96d3e0;
                    color: #96d3e0;
                    font-weight: bold;
                    font-size: 17px;
                    border-radius: 0;
                    margin-top: 10px;
                }
            }

            .css-courses-caption {
                color: $default-text-color;

                p {
                    font-size: 35px;
                }
            }

            .css-course-detail-captation {
                left: 5%;
                width: 440px;

                h1 {
                    color: $green;
                    font-size: 45px;
                }

                h2 {
                    font-size: 35px;
                    color: $green;
                }
            }
        }
    }

    .css-login {
        width: 500px;
        background-color: $bg-blue-gray;
        border: solid 1px #74C6C7;
        padding: 20px;
        margin-top: 10px;
    }
}

#search-secion {
    button {
        height: 42px;
        width: 80%;
        border: 1px solid #333e47;
    }
    
    .select2-container--default {
        .select2-selection--single {
            .select2-selection__arrow {
                top: 8px;
            }
        }
    }

    .select2-container--default,
    .select2-selection {
        .select2-selection--single {
            padding: 20px 12px;
            height: 34px;
            text-align: center;
        }
    }

    .select2-container--default  {
        .select2-selection--single,
        .select2-selection .select2-selection--single {
            border-top: 1px solid #333e47;
            border-left: 1px solid #333e47;
            border-bottom: 1px solid #333e47;
        }
    }

    .select2-container--default {
        .select2-selection--single {
            .select2-selection__rendered {
                color: #6e6e6e;
            }
        }
    }

    .css-description {
        h3 {
            font-family: 'museo_slab700';
            color: $title-color;
            font-size: 32px;
            margin: 40px 0 25px 0;
        }
    }

    .css-course-detail-panel {
        position: relative;
        width: 80%;
        min-height: 200px;
        background-color: #f5f5f5;
        margin: 150px auto;
        display: block;

        .css-tag {
            position: absolute;
            width: 60%;
            top: -50px;
            left: -50px;
            background-color: $bg-blue-gray;
            padding: 0 15px;

            h2 {
                color: $green;
            }
        }

        .css-text {
            padding: 100px 30px 30px 30px;
            
            .css-title {
                font-family: "raleway_medium";
                font-size: 20px;
            }
        }

        .css-image {
            background-position: top;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    .css-course-description {
        h2 {
            font-size: 30px;
        }

        h3 {
            font-size: 25px;
            font-family: 'museo_slab700';
            color: $title-color;
        }

        .css-price {
            color: $default-text-color;
        }

        .btn-link {
            background-color: $bg-blue-gray;
            font-family: 'museo_slab700';
        }
    }
}

#sponsor-section {
    padding: 40px 0;

    h2 {
        color: $title-color;
        font-size: 35px;
    }

    .css-sponsor {
        text-align: center;
        margin-top: 40px;
    
        img {
            vertical-align: bottom;
        }
    }
}

#carousel-promo, #carousel-team, #carousel-installation {
    display: none;
}

#carousel-courses {
    display: none;
}

section {
    padding: 90px 0;
    
    h2 {
        color: $title-color;
        font-size: 38px;
    }
    p {
        color: $default-text-color;
    }
}

.css-panel-courses {
    position: relative;
    margin-bottom: 20px;

    img {
        object-fit: cover;
        height: 200px!important;
        width: 100%;
    }

    .css-tag {
        position: absolute;
        left: -10px;
        top: 10px;
        font-family: 'museo_slab700';
        background-color: $bg-blue-gray;
        color: #96d3e0;
        border: 2px solid #96d3e0;
        padding: 2px 2px 2px 7px;
        width: 110px;
        font-size: 14px;
    }

    .css-panel-text {
        background-color: $bg-gray;
        min-height: 250px;
        text-align: center;
        padding: 15px 20px;

        h4 {
            color: $title-color;
            font-family: 'museo_slab700';
            font-size: 18px;
            font-weight: 500;
        }

        p {
            color: $default-text-color;
            margin-top: 10px;
            font-size: 14px;
        }

        a {
            color: $title-color;
            font-family: 'museo_slab700';
            font-size: 17px;
        }
    }

    .css-advanced {
        background-color: #96d3e0;
    }

    .css-professional {
        background-color: #184556;
        color: #FFF;

        h4, a, p {
            color: #FFF;
        }
    }
}

.col-lg-4 {
    .css-panel-courses {
        .css-panel-text {
            min-height: 50px!important;
        }
    }
}

.css-parallax-sea-1 {
    background-image: var(--parallax-sea-1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 550px;
}

.css-parallax-sea-2 {
    background-image: var(--parallax-sea-2);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 450px;
    padding: 70px 0;
}

.css-parallax-sea-3 {
    background-image: var(--parallax-sea-3);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 450px;
    padding: 70px 0;
}

.css-parallax-sea-4 {
    background-image: var(--parallax-sea-4);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 450px;
    padding: 70px 0;
}

.css-panel-img-right {
    position: relative;

    div {
        width: 80%;
        height: 305px;
        background-color: #002c44;
        padding: 30px 299px 20px 40px;

        h2 {
            color: $green;
            font-size: 40px;
        }
        
        p {
            color: #FFF;
            font-size: 14px;
        }

        .btn-link {
            background-color: $bg-blue-gray;
        }
    }

    img {
        position: absolute;
        bottom: -35px;
        right: 0;
        width: auto;
        height: 270px;
    }
}

.css-panel-img-left {
    position: relative;

    div {
        float: right;
        width: 80%;
        height: 305px;
        background-color: #002c44;
        padding: 30px 40px 20px 299px;

        h2 {
            color: $green;
            font-size: 40px;
        }
        
        p {
            color: #FFF;
            font-size: 14px;
        }

        .btn-link {
            background-color: $bg-blue-gray;
        }
    }

    img {
        position: absolute;
        bottom: -35px;
        left: 0;
        width: auto;
        height: 270px;
    }
}

footer {
    .css-subfooter {
        padding: 40px 0;
        background-color: #333e47;
    }

    .css-footer {
        margin-top: 3px;
        padding: 15px 0;
        background-color: #377789;

        .css-footer-links {
            text-align: center;

            a {
                color: #FFF;
            }

            a:hover {
                color: #FFF;
                text-decoration: underline;
            }
        }

        .css-social {
            margin-top: 15px;

            div {
                width: 25px;
                height: 25px;
                border-radius: 14px;
                background-color: #05202e;
                text-align: center;
                display: inline-block;
                padding: 2px 0 0 0;
                font-size: 13px;
            }

            a {
                color: $title-color;
            }
        }
    }

    h2 {
        color: $green;
    }

    p {
        color: #FFF;
    }
}

.navbar-brand {
    z-index: 9999;
    position: relative;
}



// EQUIPO ----------------------------------------------------------------------------------------------

#team-section {
    h2 { color: $green; }
    
    h4 {
        font-family: 'museo_slab700';
        color: #FFF;
        font-size: 32px;
        margin-top: 30px;
    }
    
    p {
        color: #FFF;
        font-family: 'raleway_medium';
        margin-top: 30px;
        font-size: 17px;
    }

    .css-team-panel {
        position: relative;
        margin-bottom: 30px;

        img {
            object-fit: cover;
            width: 100%;
            height: auto;
        }

        .css-tag {
            position: absolute;
            bottom: -19px;
            left: -12px;
            background-image: var(--team-tag);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            height: 40px;
            width: 160px;
            color: $bg-blue-gray;
            font-family: "museo_slab700";
            padding: 10px 0 0 5px;
            font-size: 14px;
        }
    }

    .col-lg-6 {
        &:nth-child(2) {
            p {
                margin-top: 0;
                margin-bottom: 15px;
            }
            h4 { font-size: 30px; }

            .btn-link {
                color: $bg-blue-gray;
                background-color: $green;
                font-family: 'museo_slab700';
                padding: 5px;
                border: 1px solid $bg-blue-gray!important;
                font-size: 17px;
            }
        }
    }
}

#installation-section {
    padding-bottom: 0;

    .container-fluid,  #installation-section {
        .col-sm-4  {
            overflow: hidden;
            padding: 0;
        }
    }

    .folio-item {
        position: relative;
    }

    .overlay {
        background-color: #000;
        color: #fff; 
        left: 0;
        right:0;
        bottom:-100%;
        height: 0;
        position: absolute;
        text-align: center;
        opacity:0;  
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;

        .overlay-content {
            display: table;
            height: 100%;
            width: 100%;
        }

        .overlay-text {
            display: table-cell;
            vertical-align: middle;
        }

        .folio-info {
            opacity: 0;
            margin-bottom: 75px;
            margin-top: -75px;
            -webkit-transition: all 1s ease-in-out;
            transition: all 1s ease-in-out;

            h3 {
                margin-top: 0;
                color: #fff;
            }
        }
    }

    .folio-overview {
        a {
            font-size: 18px;
            color: #333;
            height: 50px;
            width: 50px;
            line-height: 50px;
            border-radius: 50%;
            background-color: #fff;
            display: inline-block;
            margin-top: 20px;
            margin-right: 5px;
        }

        a:hover {
            color: #fff;
        }

        .folio-expand {
            margin-top: -500px;
            margin-left: -500px;
        }

        .folio-expand {
            -webkit-transition: all 0.8s ease-in-out;
            transition: all 0.8s ease-in-out;
        }
    }

    .folio-image, .folio-overview {
        -webkit-transition: all 0.8s ease-in-out;
        transition: all 0.8s ease-in-out;
    }

    .folio-item:hover {
        .folio-image {
            -webkit-transform: scale(1.5) rotate(-15deg);
            transform: scale(1.5) rotate(-15deg);
        }

        .overlay {
            opacity: 0.8;
            bottom: 0;
            height: 100%;

            .folio-info {
                opacity: 1;  
                margin-bottom:0;
                margin-top:0;
            }
        }

        .folio-overview {
            .folio-expand {
                margin-top: 0;
                margin-left:0;
            }
        }
    }

    .folio-image img {
        width: 100%;
    }

    .css-installation-panel {
        div {
            height: 100%;
            background-color: #002e44;
            padding: 30px;
        }

        h3 {
            font-family: 'museo_slab700';
            color: $green;
            font-size: 2em;
        }

        p {
            color: #FFF;
            font-size: 15px;
            font-family: 'raleway_medium';
        }
    }

    .folio-item {
        h3 {
            font-family: 'museo_slab700';
        }
    }
}

#team-detail-section {
    padding: 20px 0 0 0;
    
    h2 {
        color: $green;
    }

    p {
        color: #FFF;
        font-family: 'raleway_medium';
    }

    h3 {
        margin-top: 60px;
        color: #FFF;
        font-family: 'museo_slab700';
        font-size: 38px;
    }

    .css-contact-info {
        color: $green;
        font-family: 'raleway_semibold';
        margin: 0;
    }

    .css-social {
        margin-top: 15px;

        div {
            width: 40px;
            height: 40px;
            border-radius: 20px;
            background-color: #FFF;
            text-align: center;
            display: inline-block;
            padding: 5px 0 0 0;
            font-size: 21px;
            text-align: center;
        }

        a {
            color: $bg-blue-gray;
        }
    }
}

// DESTINOS ------------------------------------------------------

#destination-info-section {
    background-color: #f5f5f5;

    h2 {
        font-size: 30px;
    }

    .btn-link {
        background-color: #184556;
        font-family: 'museo_slab700';
    }
}

.css-gallery-section {
    padding: 0;

    .row {
        position: relative;
    }

    .col-lg-4 {
        padding: 0;
        

        img {
            object-fit: cover;
            width: 100%;
            height: auto;
        }

        .css-img-100 {
            position: absolute;
            width: 100%;
            height: 100%;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }
}