/*---------------------
[Responsive Stylesheet]
---------------------*/

@import "variables";

/* Laptop Landscape */
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
	
}

/* Tablet Landscape */
@media only screen and (min-width: 960px) and (max-width: 1200px) {
	
}

/* Tablet Portrait */
@media only screen and (min-width: 760px) and (max-width: 960px){
	
}

/* Mobile Landscape */
@media only screen and (min-width: 760px) and (max-width: 770px) {
    .css-header {
        .css-navigation {
            .css-subnav {
                display: none;
            }
        }
    }

    .navbar-brand {
        z-index: 9999;
        position: relative;
        text-align: left!important;
        display: inline-block!important;
    }

    .css-navigation {
        padding-top: 25px;

        .navbar-nav {
            margin-top: 15px;
            background-color: #002c44;

            .nav-link {
                padding-top: 0.7rem;
                padding-bottom: 0.7rem;
            }
            
            a:hover {
                color: #FFF;

            }
        }
        
        .navbar {
            display: inherit;
            float: right;

            #main-nav {
                width: 100%!important;
            }

            .navbar-toggler {
                float: right;
                border: none;
                color: #FFF;
                font-size: 35px;
            }
        }

        .navbar-light {
            .css-nav-mobile-icon {
                z-index: 999;
                position: relative;
                color: #FFF;
                font-size: 29px;
                margin-right: 20px;
                display: inline;
            }
        }

        .css-fixed-logo {
            display: none!important;
        }

        .css-navbar-fixed-top {
            display: none!important;
        }

        // Menu mobile
        #web-menu {
            display: none;
        }
        
        #mobile-menu {
            display: block;
            z-index: 9999;
            position: relative;

            #sidebar {
                height: 100vh;
                background-color: $bg-blue-gray;
                margin-top: -25px;
                position: absolute;
                right: 0;
                top: 0;
                max-width: 70%;

                .list-group {
                    .css-sidebar-option {
                        display: block;
                        text-align: right;
                        margin-bottom: 40px;

                        a {
                            display: inline;
                            color: #FFF;
                            font-size: 35px;
                            margin-left: 20px;
                        }
                    }
                }
            }
            
            #sidebar .list-group-item {
                border-radius: 0;
                background-color: $bg-blue-gray;
                color: #FFF;
                border: none;
                white-space: nowrap;
                text-decoration: none;
            }
            
            @media (max-width:48em) {
                #sidebar .list-group > .list-group-item {
                    text-align: left;
                    padding: 0.75rem 5.5rem;
                    min-width: 39px;
                    font-family: 'raleway_semibold';
                }
            }
            
            #sidebar.collapsing {
              opacity: 0.8;
              width: 0;
              -webkit-transition-timing-function: ease-in;
                   -o-transition-timing-function: ease-in;
                      transition-timing-function: ease-in;
              -webkit-transition-property: width;
                   -o-transition-property: width;
                      transition-property: width;
            
            }
        }

        .css-submenu-responsive {
            float: right;

            a {
                color: #FFF;
                font-size: 35px;
                margin-left: 25px;
            }
        }
    }

    #search-secion {
        button {
            width: 100%;
        }

        .css-marginT100 {
            margin-top: 30px!important;
        }
    }

    .css-parallax-sea-1 {
        background-image: var(--parallax-sea-1);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: inherit;
        height: 450px;
    }
    
    .css-parallax-sea-2 {
        background-image: var(--parallax-sea-2);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: inherit;
        height: 450px;
        padding: 70px 0;
    }

    #promo-section {
        h2 {
            font-size: 30px;
        }

        .css-marginT100 {
            margin-top: 50px!important;
        }

        .css-panel-img-right {
            div {
                width: 100%;
                height: 220px;
                background-color: #002c44;
                padding: 20px;
                text-align: center;
        
                h2 {
                    color: $green;
                    font-size: 40px;
                }
                
                p {
                    color: #FFF;
                    font-size: 16px;
                }
        
                .btn-link {
                    background-color: $bg-blue-gray;
                }
            }
        
            img {
                position: inherit;
                bottom: 0;
                width: 100%;
                height: auto;
            }
        }

        .css-panel-img-left {
            position: relative;
        
            div {
                width: 100%;
                height: 220px;
                background-color: #002c44;
                padding: 20px;
                text-align: center;
        
                h2 {
                    color: $green;
                    font-size: 40px;
                }
                
                p {
                    color: #FFF;
                    font-size: 16px;
                }
        
                .btn-link {
                    background-color: $bg-blue-gray;
                }
            }
        
            img {
                position: inherit;
                bottom: 0;
                left: 0;
                width: 100%;
                height: auto;
            }
        }
    }

    #installation-section {
        padding-bottom: 0;
    
        .container-fluid,  #installation-section {
            .col-sm-4  {
                overflow: hidden;
                padding: 0;
            }
        }
    
        .folio-item {
            position: relative;
        }
    
        .overlay {
            background-color: #000;
            color: #fff; 
            left: 0;
            right:0;
            bottom:-100%;
            height: 0;
            position: absolute;
            text-align: center;
            opacity:0;  
            -webkit-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
    
            .overlay-content {
                display: table;
                height: 100%;
                width: 100%;
            }
    
            .overlay-text {
                display: table-cell;
                vertical-align: middle;
            }
    
            .folio-info {
                opacity: 0;
                margin-bottom: 75px;
                margin-top: -75px;
                -webkit-transition: all 1s ease-in-out;
                transition: all 1s ease-in-out;
    
                h3 {
                    margin-top: 0;
                    color: #fff;
                }
            }
        }
    
        .folio-overview {
            a {
                font-size: 18px;
                color: #333;
                height: 50px;
                width: 50px;
                line-height: 50px;
                border-radius: 50%;
                background-color: #fff;
                display: inline-block;
                margin-top: 20px;
                margin-right: 5px;
            }
    
            a:hover {
                color: #fff;
            }
    
            .folio-expand {
                margin-top: -500px;
                margin-left: -500px;
            }
    
            .folio-expand {
                -webkit-transition: all 0.8s ease-in-out;
                transition: all 0.8s ease-in-out;
            }
        }
    
        .folio-image, .folio-overview {
            -webkit-transition: all 0.8s ease-in-out;
            transition: all 0.8s ease-in-out;
        }
    
        .folio-item:hover {
            .folio-image {
                -webkit-transform: scale(1.5) rotate(-15deg);
                transform: scale(1.5) rotate(-15deg);
            }
    
            .overlay {
                opacity: 0.8;
                bottom: 0;
                height: 100%;
    
                .folio-info {
                    opacity: 1;  
                    margin-bottom:0;
                    margin-top:0;
                }
            }
    
            .folio-overview {
                .folio-expand {
                    margin-top: 0;
                    margin-left:0;
                }
            }
        }
    
        .folio-image img {
            width: 100%;
        }
    
        .css-installation-panel {
            div {
                height: 100%;
                background-color: #002e44;
                padding: 30px;
            }
    
            h3 {
                font-family: 'museo_slab700';
                color: $green;
                font-size: 1.5em;
            }
    
            p {
                color: #FFF;
                font-size: 14px;
                font-family: 'raleway_medium';
            }
        }
    
        .folio-item {
            h3 {
                font-family: 'museo_slab700';
            }
        }
    }

    #team-detail-section {
        padding: 20px 0 40px 0;
    }
}

@media only screen and (min-width: 760px) {
	
} 

@media only screen and (max-width: 760px) {
	.css-header {
        .css-navigation {
            .css-subnav {
                display: none;
            }
        }
    }

    .navbar-brand {
        margin-right: 0;
    }

    .css-navigation {
        padding-top: 25px;

        .navbar {
            margin-top: 20px;
        }

        .navbar-nav {
            margin-top: 15px;
            background-color: #002c44;

            .nav-link {
                padding-top: 0.7rem;
                padding-bottom: 0.7rem;
            }
        }
        
        .navbar-light {
            .css-nav-mobile-icon {
                z-index: 999;
                position: relative;
                color: #FFF;
                font-size: 25px;
                display: inline;
            }

            .navbar-toggler {
                border: none;
                color: #FFF;
                font-size: 25px;
            }
        }

        // Menu mobile
        #web-menu {
            display: none;
        }

        #mobile-menu {
            display: block;
            z-index: 9999;
            position: relative;
            text-align: center;
            
            img {
                margin-bottom: 30px;
            }

            #sidebar {
                height: 100vh;
                background-color: $bg-blue-gray;
                margin-top: -25px;
                position: absolute;
                right: 0;
                top: 0;
                max-width: 70%;

                .list-group {
                    .css-sidebar-option {
                        display: block;
                        text-align: right;
                        margin-bottom: 40px;

                        a {
                            display: inline;
                            color: #FFF;
                            font-size: 25px;
                            margin-left: 20px;
                        }
                    }
                }
            }
            
            #sidebar .list-group-item {
                border-radius: 0;
                background-color: $bg-blue-gray;
                color: #FFF;
                border: none;
                white-space: nowrap;
                text-decoration: none;
            }
            
            @media (max-width:48em) {
                #sidebar .list-group > .list-group-item {
                    text-align: left;
                    padding: 0.75rem 2.5rem;
                    min-width: 39px;
                    font-family: 'raleway_semibold';
                }
            }
            
            #sidebar.collapsing {
              opacity: 0.8;
              width: 0;
              -webkit-transition-timing-function: ease-in;
                   -o-transition-timing-function: ease-in;
                      transition-timing-function: ease-in;
              -webkit-transition-property: width;
                   -o-transition-property: width;
                      transition-property: width;
            
            }
        }

        .css-submenu-responsive {
            float: none;

            a {
                color: #FFF;
                font-size: 35px;
                padding: 0 20px;
            }
        }
    }

    #index-slider {
        .carousel-inner {
            .carousel-item {
                .carousel-caption {
                    text-align: center;
                    width: 100%;
                    left: 0;

                    h1 {
                        font-size: 25px;
                    }
                }

                .css-courses-caption {
                    color: #FFF;

                    h1 {
                        font-size: 35px;
                    }
    
                    p {
                        font-size: 25px;
                    }
                }
            }
        }
    }

    #search-secion {
        button {
            width: 100%;
            border-radius: 6px;
        }

        .css-noPadding {
            padding: 0 20px!important;
            margin-bottom: 20px;
        }

        .select2-container--default  {
            .select2-selection--single,
            .select2-selection .select2-selection--single {
                border: 1px solid #333e47;
            }
        }

        .select2-selection--single {
            border-radius: 6px;
        }

        .css-marginT100 {
            margin-top: 15px!important;
        }

        h2 {
            font-size: 25px;
        }

        #carousel-courses {
            display: block;

            .css-panel-courses {
                .css-panel-text{
                    position: relative;
                    width: 100%;

                    h2 {
                        margin-top: 25px;
                    }
                    
                    .css-tag {
                        top: -15px;
                        left: 0;
                        right: 0;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }

            .carousel-control-prev-icon {
                background-image: inherit;
                font-size: 30px;
            }

            .carousel-control-next-icon {
                background-image: inherit;
                font-size: 30px;
            }

            .carousel-control-next, .carousel-control-prev {
                top: -110px;
                opacity: 1;
            }
        }
    }

    .css-parallax-sea-1 {
        background-image: var(--parallax-sea-1);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: inherit;
        height: 450px;
    }
    
    .css-parallax-sea-2 {
        background-image: var(--parallax-sea-2);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: inherit;
        height: 450px;
        padding: 70px 0;
    }

    #promo-section {
        h2 {
            font-size: 30px;
        }

        .css-marginT100 {
            margin-top: 50px!important;
        }

        .css-panel-img-right {
            div {
                width: 100%;
                height: 315px;
                background-color: #002c44;
                padding: 20px;
                text-align: center;
        
                h2 {
                    color: $green;
                    font-size: 25px;
                }
                
                p {
                    color: #FFF;
                    font-size: 16px;
                }
        
                .btn-link {
                    background-color: $bg-blue-gray;
                }
            }
        
            img {
                position: inherit;
                bottom: 0;
                width: 100%;
                height: auto;
            }
        }

        .css-panel-img-left {
            position: relative;
        
            div {
                width: 100%;
                height: 315px;
                background-color: #002c44;
                padding: 20px;
                text-align: center;
        
                h2 {
                    color: $green;
                    font-size: 25px;
                }
                
                p {
                    color: #FFF;
                    font-size: 16px;
                }
        
                .btn-link {
                    background-color: $bg-blue-gray;
                }
            }
        
            img {
                position: inherit;
                bottom: 0;
                left: 0;
                width: 100%;
                height: auto;
            }
        }

        .css-promo-panels-pc {
            display: none;
        }
    }

    #carousel-promo, #carousel-team, #carousel-installation {
        display: block;

        .carousel-control-prev-icon {
            background-image: inherit;
            font-size: 30px;
        }

        .carousel-control-next-icon {
            background-image: inherit;
            font-size: 30px;
        }

        .carousel-control-next, .carousel-control-prev {
            top: -142px;
            opacity: 1;
        }
    }

    #carousel-team, #carousel-installation {
        .css-tag {
            left: 25px!important;
        }

        .carousel-control-next, .carousel-control-prev {
            top: -50px;
            opacity: 1;
        }
    }

    #sponsor-section {
        padding: 20px 0;
    
        h2 {
            display: none;
        }
    }

    .css-subfooter {
        text-align: center;
    }

    .css-courses-panels-pc {
        display: none;
    }

    .css-team-header {
        background-position: center -150px;
    }

    #team-section {
        h2 {
            font-size: 40px;

            &:nth-last-child(-n + 1) {
                font-size: 22px;
            }
        }
    }

    .css-pc-view {
        display: none;
    }

    #installation-section {
        padding: 0;
    }

    #team-detail-section {
        padding: 20px 0 40px 0;
    }

    // CURSOS

    .css-courses-header {
        background-position: right;
    }
}


/* Mobile Portrait */
@media only screen and (max-width: 460px) {
	// aqui
}

/* Old Mobiles */
@media only screen and (max-width: 320px) {
	
}

