@font-face {
  font-family: "museo_slab700";
  src: url("../fonts/museo/museo_slab_700-webfont.woff2") format("woff2"), url("../fonts/museo/museo_slab_700-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "raleway_medium";
  src: url("../fonts/raleway_medium/raleway-medium-webfont.woff2") format("woff2"), url("../fonts/raleway_medium/raleway-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "raleway_regular";
  src: url("../fonts/raleway_regular/raleway-regular-webfont.woff2") format("woff2"), url("../fonts/raleway_regular/raleway-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "raleway_semibold";
  src: url("../fonts/raleway_semibold/raleway-semibold-webfont.woff2") format("woff2"), url("../fonts/raleway_semibold/raleway-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  overflow-x: hidden;
  font-family: "raleway_regular";
}

h2, h1 {
  font-family: "museo_slab700";
}

.css-border-right {
  border-right: 1px solid #ebebeb;
}

.css-border-left {
  border-left: 1px solid #d8d2cf;
}

.css-border-top {
  border-top: 1px solid #d8d2cf;
}

.css-border-bottom {
  border-bottom: 1px solid #d8d2cf;
}

.css-noPadding {
  padding: 0 !important;
}

.css-noMargin {
  margin: 0 !important;
}

.css-noFloat {
  float: none !important;
}

.css-noBackground {
  background-color: transparent !important;
}

.css-underline {
  text-decoration: underline !important;
}

.css-line-through {
  text-decoration: line-through !important;
}

.css-relative {
  position: relative;
}

.css-hide {
  display: none;
}

.css-shadow {
  -webkit-box-shadow: -5px 6px 5px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 6px 5px -4px rgba(0, 0, 0, 0.75);
  box-shadow: -5px 6px 5px -4px rgba(0, 0, 0, 0.75);
}

.css-uppercase {
  text-transform: uppercase;
}

.css-italic {
  font-style: italic;
}

.css-show {
  display: block !important;
}

.btn-link {
  border: 2px solid #96d3e0 !important;
  color: #96d3e0;
  border-radius: 0;
}

.css-marginR0 {
  margin-right: 0px !important;
}

.css-marginL0 {
  margin-left: 0px !important;
}

.css-marginT0 {
  margin-top: 0px !important;
}

.css-marginB0 {
  margin-bottom: 0px !important;
}

.css-paddingR0 {
  padding-right: 0px !important;
}

.css-paddingL0 {
  padding-left: 0px !important;
}

.css-paddingT0 {
  padding-top: 0px !important;
}

.css-paddingB0 {
  padding-bottom: 0px !important;
}

.css-marginR5 {
  margin-right: 5px !important;
}

.css-marginL5 {
  margin-left: 5px !important;
}

.css-marginT5 {
  margin-top: 5px !important;
}

.css-marginB5 {
  margin-bottom: 5px !important;
}

.css-paddingR5 {
  padding-right: 5px !important;
}

.css-paddingL5 {
  padding-left: 5px !important;
}

.css-paddingT5 {
  padding-top: 5px !important;
}

.css-paddingB5 {
  padding-bottom: 5px !important;
}

.css-marginR10 {
  margin-right: 10px !important;
}

.css-marginL10 {
  margin-left: 10px !important;
}

.css-marginT10 {
  margin-top: 10px !important;
}

.css-marginB10 {
  margin-bottom: 10px !important;
}

.css-paddingR10 {
  padding-right: 10px !important;
}

.css-paddingL10 {
  padding-left: 10px !important;
}

.css-paddingT10 {
  padding-top: 10px !important;
}

.css-paddingB10 {
  padding-bottom: 10px !important;
}

.css-marginR15 {
  margin-right: 15px !important;
}

.css-marginL15 {
  margin-left: 15px !important;
}

.css-marginT15 {
  margin-top: 15px !important;
}

.css-marginB15 {
  margin-bottom: 15px !important;
}

.css-paddingR15 {
  padding-right: 15px !important;
}

.css-paddingL15 {
  padding-left: 15px !important;
}

.css-paddingT15 {
  padding-top: 15px !important;
}

.css-paddingB15 {
  padding-bottom: 15px !important;
}

.css-marginR20 {
  margin-right: 20px !important;
}

.css-marginL20 {
  margin-left: 20px !important;
}

.css-marginT20 {
  margin-top: 20px !important;
}

.css-marginB20 {
  margin-bottom: 20px !important;
}

.css-paddingR20 {
  padding-right: 20px !important;
}

.css-paddingL20 {
  padding-left: 20px !important;
}

.css-paddingT20 {
  padding-top: 20px !important;
}

.css-paddingB20 {
  padding-bottom: 20px !important;
}

.css-marginR25 {
  margin-right: 25px !important;
}

.css-marginL25 {
  margin-left: 25px !important;
}

.css-marginT25 {
  margin-top: 25px !important;
}

.css-marginB25 {
  margin-bottom: 25px !important;
}

.css-paddingR25 {
  padding-right: 25px !important;
}

.css-paddingL25 {
  padding-left: 25px !important;
}

.css-paddingT25 {
  padding-top: 25px !important;
}

.css-paddingB25 {
  padding-bottom: 25px !important;
}

.css-marginR30 {
  margin-right: 30px !important;
}

.css-marginL30 {
  margin-left: 30px !important;
}

.css-marginT30 {
  margin-top: 30px !important;
}

.css-marginB30 {
  margin-bottom: 30px !important;
}

.css-paddingR30 {
  padding-right: 30px !important;
}

.css-paddingL30 {
  padding-left: 30px !important;
}

.css-paddingT30 {
  padding-top: 30px !important;
}

.css-paddingB30 {
  padding-bottom: 30px !important;
}

.css-marginR35 {
  margin-right: 35px !important;
}

.css-marginL35 {
  margin-left: 35px !important;
}

.css-marginT35 {
  margin-top: 35px !important;
}

.css-marginB35 {
  margin-bottom: 35px !important;
}

.css-paddingR35 {
  padding-right: 35px !important;
}

.css-paddingL35 {
  padding-left: 35px !important;
}

.css-paddingT35 {
  padding-top: 35px !important;
}

.css-paddingB35 {
  padding-bottom: 35px !important;
}

.css-marginR40 {
  margin-right: 40px !important;
}

.css-marginL40 {
  margin-left: 40px !important;
}

.css-marginT40 {
  margin-top: 40px !important;
}

.css-marginB40 {
  margin-bottom: 40px !important;
}

.css-paddingR40 {
  padding-right: 40px !important;
}

.css-paddingL40 {
  padding-left: 40px !important;
}

.css-paddingT40 {
  padding-top: 40px !important;
}

.css-paddingB40 {
  padding-bottom: 40px !important;
}

.css-marginR45 {
  margin-right: 45px !important;
}

.css-marginL45 {
  margin-left: 45px !important;
}

.css-marginT45 {
  margin-top: 45px !important;
}

.css-marginB45 {
  margin-bottom: 45px !important;
}

.css-paddingR45 {
  padding-right: 45px !important;
}

.css-paddingL45 {
  padding-left: 45px !important;
}

.css-paddingT45 {
  padding-top: 45px !important;
}

.css-paddingB45 {
  padding-bottom: 45px !important;
}

.css-marginR50 {
  margin-right: 50px !important;
}

.css-marginL50 {
  margin-left: 50px !important;
}

.css-marginT50 {
  margin-top: 50px !important;
}

.css-marginB50 {
  margin-bottom: 50px !important;
}

.css-paddingR50 {
  padding-right: 50px !important;
}

.css-paddingL50 {
  padding-left: 50px !important;
}

.css-paddingT50 {
  padding-top: 50px !important;
}

.css-paddingB50 {
  padding-bottom: 50px !important;
}

.css-marginR55 {
  margin-right: 55px !important;
}

.css-marginL55 {
  margin-left: 55px !important;
}

.css-marginT55 {
  margin-top: 55px !important;
}

.css-marginB55 {
  margin-bottom: 55px !important;
}

.css-paddingR55 {
  padding-right: 55px !important;
}

.css-paddingL55 {
  padding-left: 55px !important;
}

.css-paddingT55 {
  padding-top: 55px !important;
}

.css-paddingB55 {
  padding-bottom: 55px !important;
}

.css-marginR60 {
  margin-right: 60px !important;
}

.css-marginL60 {
  margin-left: 60px !important;
}

.css-marginT60 {
  margin-top: 60px !important;
}

.css-marginB60 {
  margin-bottom: 60px !important;
}

.css-paddingR60 {
  padding-right: 60px !important;
}

.css-paddingL60 {
  padding-left: 60px !important;
}

.css-paddingT60 {
  padding-top: 60px !important;
}

.css-paddingB60 {
  padding-bottom: 60px !important;
}

.css-marginR65 {
  margin-right: 65px !important;
}

.css-marginL65 {
  margin-left: 65px !important;
}

.css-marginT65 {
  margin-top: 65px !important;
}

.css-marginB65 {
  margin-bottom: 65px !important;
}

.css-paddingR65 {
  padding-right: 65px !important;
}

.css-paddingL65 {
  padding-left: 65px !important;
}

.css-paddingT65 {
  padding-top: 65px !important;
}

.css-paddingB65 {
  padding-bottom: 65px !important;
}

.css-marginR70 {
  margin-right: 70px !important;
}

.css-marginL70 {
  margin-left: 70px !important;
}

.css-marginT70 {
  margin-top: 70px !important;
}

.css-marginB70 {
  margin-bottom: 70px !important;
}

.css-paddingR70 {
  padding-right: 70px !important;
}

.css-paddingL70 {
  padding-left: 70px !important;
}

.css-paddingT70 {
  padding-top: 70px !important;
}

.css-paddingB70 {
  padding-bottom: 70px !important;
}

.css-marginR75 {
  margin-right: 75px !important;
}

.css-marginL75 {
  margin-left: 75px !important;
}

.css-marginT75 {
  margin-top: 75px !important;
}

.css-marginB75 {
  margin-bottom: 75px !important;
}

.css-paddingR75 {
  padding-right: 75px !important;
}

.css-paddingL75 {
  padding-left: 75px !important;
}

.css-paddingT75 {
  padding-top: 75px !important;
}

.css-paddingB75 {
  padding-bottom: 75px !important;
}

.css-marginR80 {
  margin-right: 80px !important;
}

.css-marginL80 {
  margin-left: 80px !important;
}

.css-marginT80 {
  margin-top: 80px !important;
}

.css-marginB80 {
  margin-bottom: 80px !important;
}

.css-paddingR80 {
  padding-right: 80px !important;
}

.css-paddingL80 {
  padding-left: 80px !important;
}

.css-paddingT80 {
  padding-top: 80px !important;
}

.css-paddingB80 {
  padding-bottom: 80px !important;
}

.css-marginR85 {
  margin-right: 85px !important;
}

.css-marginL85 {
  margin-left: 85px !important;
}

.css-marginT85 {
  margin-top: 85px !important;
}

.css-marginB85 {
  margin-bottom: 85px !important;
}

.css-paddingR85 {
  padding-right: 85px !important;
}

.css-paddingL85 {
  padding-left: 85px !important;
}

.css-paddingT85 {
  padding-top: 85px !important;
}

.css-paddingB85 {
  padding-bottom: 85px !important;
}

.css-marginR90 {
  margin-right: 90px !important;
}

.css-marginL90 {
  margin-left: 90px !important;
}

.css-marginT90 {
  margin-top: 90px !important;
}

.css-marginB90 {
  margin-bottom: 90px !important;
}

.css-paddingR90 {
  padding-right: 90px !important;
}

.css-paddingL90 {
  padding-left: 90px !important;
}

.css-paddingT90 {
  padding-top: 90px !important;
}

.css-paddingB90 {
  padding-bottom: 90px !important;
}

.css-marginR95 {
  margin-right: 95px !important;
}

.css-marginL95 {
  margin-left: 95px !important;
}

.css-marginT95 {
  margin-top: 95px !important;
}

.css-marginB95 {
  margin-bottom: 95px !important;
}

.css-paddingR95 {
  padding-right: 95px !important;
}

.css-paddingL95 {
  padding-left: 95px !important;
}

.css-paddingT95 {
  padding-top: 95px !important;
}

.css-paddingB95 {
  padding-bottom: 95px !important;
}

.css-marginR100 {
  margin-right: 100px !important;
}

.css-marginL100 {
  margin-left: 100px !important;
}

.css-marginT100 {
  margin-top: 100px !important;
}

.css-marginB100 {
  margin-bottom: 100px !important;
}

.css-paddingR100 {
  padding-right: 100px !important;
}

.css-paddingL100 {
  padding-left: 100px !important;
}

.css-paddingT100 {
  padding-top: 100px !important;
}

.css-paddingB100 {
  padding-bottom: 100px !important;
}

.css-fontSize1 {
  font-size: 1px !important;
}

.css-fontSize2 {
  font-size: 2px !important;
}

.css-fontSize3 {
  font-size: 3px !important;
}

.css-fontSize4 {
  font-size: 4px !important;
}

.css-fontSize5 {
  font-size: 5px !important;
}

.css-fontSize6 {
  font-size: 6px !important;
}

.css-fontSize7 {
  font-size: 7px !important;
}

.css-fontSize8 {
  font-size: 8px !important;
}

.css-fontSize9 {
  font-size: 9px !important;
}

.css-fontSize10 {
  font-size: 10px !important;
}

.css-fontSize11 {
  font-size: 11px !important;
}

.css-fontSize12 {
  font-size: 12px !important;
}

.css-fontSize13 {
  font-size: 13px !important;
}

.css-fontSize14 {
  font-size: 14px !important;
}

.css-fontSize15 {
  font-size: 15px !important;
}

.css-fontSize16 {
  font-size: 16px !important;
}

.css-fontSize17 {
  font-size: 17px !important;
}

.css-fontSize18 {
  font-size: 18px !important;
}

.css-fontSize19 {
  font-size: 19px !important;
}

.css-fontSize20 {
  font-size: 20px !important;
}

.css-fontSize21 {
  font-size: 21px !important;
}

.css-fontSize22 {
  font-size: 22px !important;
}

.css-fontSize23 {
  font-size: 23px !important;
}

.css-fontSize24 {
  font-size: 24px !important;
}

.css-fontSize25 {
  font-size: 25px !important;
}

.css-fontSize26 {
  font-size: 26px !important;
}

.css-fontSize27 {
  font-size: 27px !important;
}

.css-fontSize28 {
  font-size: 28px !important;
}

.css-fontSize29 {
  font-size: 29px !important;
}

.css-fontSize30 {
  font-size: 30px !important;
}

.css-fontSize31 {
  font-size: 31px !important;
}

.css-fontSize32 {
  font-size: 32px !important;
}

.css-fontSize33 {
  font-size: 33px !important;
}

.css-fontSize34 {
  font-size: 34px !important;
}

.css-fontSize35 {
  font-size: 35px !important;
}

.css-fontSize36 {
  font-size: 36px !important;
}

.css-fontSize37 {
  font-size: 37px !important;
}

.css-fontSize38 {
  font-size: 38px !important;
}

.css-fontSize39 {
  font-size: 39px !important;
}

.css-fontSize40 {
  font-size: 40px !important;
}

.css-fontSize41 {
  font-size: 41px !important;
}

.css-fontSize42 {
  font-size: 42px !important;
}

.css-fontSize43 {
  font-size: 43px !important;
}

.css-fontSize44 {
  font-size: 44px !important;
}

.css-fontSize45 {
  font-size: 45px !important;
}

.css-fontSize46 {
  font-size: 46px !important;
}

.css-fontSize47 {
  font-size: 47px !important;
}

.css-fontSize48 {
  font-size: 48px !important;
}

.css-fontSize49 {
  font-size: 49px !important;
}

.css-fontSize50 {
  font-size: 50px !important;
}

/*
 * Component: Button
 * -----------------
 */
.btn {
  border: 1px solid transparent;
}
.btn .border-radius {
  border-radius: 3px;
}
.btn.uppercase {
  text-transform: uppercase;
}
.btn.btn-flat {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 1px;
}
.btn:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn:focus {
  outline: none;
}
.btn.btn-file {
  position: relative;
  overflow: hidden;
}
.btn.btn-file > input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.btn-default {
  background-color: #f4f4f4;
  color: #444;
  border-color: #ddd;
}
.btn-default:hover, .btn-default:active, .btn-default.hover {
  background-color: #e7e7e7;
}

.btn-primary {
  background-color: #3c8dbc;
  border-color: #367fa9;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.hover {
  background-color: #367fa9;
}

.btn-success {
  background-color: #75c6c7;
  border-color: #63bfc0;
}
.btn-success:hover, .btn-success:active, .btn-success.hover {
  background-color: #63bfc0;
}

.btn-info {
  background-color: #00c0ef;
  border-color: #00acd6;
}
.btn-info:hover, .btn-info:active, .btn-info.hover {
  background-color: #00acd6;
}

.btn-danger {
  background-color: #dd4b39;
  border-color: #d73925;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.hover {
  background-color: #d73925;
}

.btn-warning {
  background-color: #f39c12;
  border-color: #e08e0b;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.hover {
  background-color: #e08e0b;
}

.btn-outline {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  color: rgba(255, 255, 255, 0.7);
  border-color: rgba(255, 255, 255, 0.7);
}

.btn-link {
  box-shadow: none;
}

.btn[class*=bg-]:hover {
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.2);
}

.btn-app {
  border-radius: 3px;
  position: relative;
  padding: 15px 5px;
  margin: 0 0 10px 10px;
  min-width: 80px;
  height: 60px;
  text-align: center;
  color: #666;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  font-size: 12px;
}
.btn-app > .fa, .btn-app > .glyphicon, .btn-app > .ion {
  font-size: 20px;
  display: block;
}
.btn-app:hover {
  background: #f4f4f4;
  color: #444;
  border-color: #aaa;
}
.btn-app:active, .btn-app:focus {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-app > .badge {
  position: absolute;
  top: -3px;
  right: -10px;
  font-size: 10px;
  font-weight: 400;
}

.select2-container--default.select2-container--focus, .select2-container--default:focus, .select2-container--default:active,
.select2-selection.select2-container--focus,
.select2-selection:focus,
.select2-selection:active {
  outline: none;
}
.select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
  border: 1px solid #d2d6de;
  border-radius: 0;
  padding: 18px 12px;
  height: 34px;
}

.select2-container--default.select2-container--open {
  border-color: #3c8dbc;
}

.select2-dropdown {
  border: 1px solid #d2d6de;
  border-radius: 0;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #3c8dbc;
  color: white;
}

.select2-results__option {
  padding: 6px 12px;
  user-select: none;
  -webkit-user-select: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
  padding-right: 0;
  height: auto;
  margin-top: -15px;
}

.select2-container[dir=rtl] .select2-selection--single .select2-selection__rendered {
  padding-right: 6px;
  padding-left: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 28px;
  right: 3px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  margin-top: 0;
}

.select2-dropdown .select2-search__field,
.select2-search--inline .select2-search__field {
  border: 1px solid #d2d6de;
}
.select2-dropdown .select2-search__field:focus,
.select2-search--inline .select2-search__field:focus {
  outline: none;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-search--dropdown .select2-search__field {
  border-color: #3c8dbc !important;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd;
}
.select2-container--default .select2-results__option[aria-selected=true], .select2-container--default .select2-results__option[aria-selected=true]:hover {
  color: #444;
}

.select2-container--default .select2-selection--multiple {
  border: 1px solid #d2d6de;
  border-radius: 0;
}
.select2-container--default .select2-selection--multiple:focus {
  border-color: #3c8dbc;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #d2d6de;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #3c8dbc;
  border-color: #367fa9;
  padding: 1px 10px;
  color: #fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  margin-right: 5px;
  color: rgba(255, 255, 255, 0.7);
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #fff;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-right: 10px;
}

.css-font-museo {
  font-family: "museo_slab700";
}

.css-font-raleway_regular {
  font-family: "raleway_regular";
}

.css-font-raleway_semibold {
  font-family: "raleway_semibold";
}

.css-font-raleway_medium {
  font-family: "raleway_medium";
}

.css-header {
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #184556;
}

.css-index-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), var(--index-header-image);
}

.css-destinations-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), var(--destinations-header-image);
}

.css-courses-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), var(--courses-header-image);
}

.css-courses-detail-header {
  background-position: right;
  background-size: 65% auto;
  background-repeat: no-repeat;
  background-color: #184556;
}

.css-team-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), var(--team-header-image);
  background-position: center 0;
}

.css-team-detail-header {
  height: 220px;
}

.css-background-default {
  background-color: #184556;
}

.css-navigation {
  position: absolute;
  width: 100%;
  top: 0;
}
.css-navigation .navbar {
  z-index: 9999;
}
.css-navigation .navbar .navbar-toggler {
  z-index: 9999;
}
.css-navigation .navbar-light .navbar-text {
  color: #FFF;
  font-family: "raleway_semibold";
}
.css-navigation .navbar-light .css-nav-mobile-icon {
  display: none;
}
.css-navigation .navbar-light .navbar-nav .nav-link {
  color: #FFF;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  font-family: "raleway_semibold";
}
.css-navigation .navbar-light .navbar-nav .nav-link:hover {
  color: #FFF;
  text-decoration: underline;
}
.css-navigation .nav-link {
  color: #FFF;
  font-family: "raleway_semibold";
}
.css-navigation .css-fixed-logo {
  display: none;
}
.css-navigation .css-navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
  background-color: #FFF;
}
.css-navigation .css-navbar-fixed-top .navbar-nav .nav-link {
  color: #333e47;
}
.css-navigation .css-navbar-fixed-top .navbar-nav .nav-link:hover {
  color: #333e47;
  text-decoration: underline;
}
.css-navigation .css-navbar-fixed-top .css-fixed-logo {
  display: block;
}
.css-navigation .css-navbar-fixed-top .css-fixed-logo img {
  width: 100px;
  height: auto;
}
.css-navigation .css-navbar-fixed-top .navbar-nav {
  float: right;
  margin-right: 0 !important;
}
.css-navigation #mobile-menu {
  display: none;
}

#index-slider .carousel-inner .carousel-item .carousel-caption {
  position: absolute;
  right: inherit;
  bottom: inherit;
  top: 37%;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: left;
}
#index-slider .carousel-inner .carousel-item .carousel-caption h1 {
  font-size: 44px;
  font-weight: bold;
}
#index-slider .carousel-inner .carousel-item .carousel-caption p {
  font-family: "museo_slab700";
  font-size: 33px;
}
#index-slider .carousel-inner .carousel-item .carousel-caption .btn-link {
  font-family: "museo_slab700";
  border: 2px solid #96d3e0;
  color: #96d3e0;
  font-weight: bold;
  font-size: 17px;
  border-radius: 0;
  margin-top: 10px;
}
#index-slider .carousel-inner .carousel-item .css-courses-caption {
  color: #333e47;
}
#index-slider .carousel-inner .carousel-item .css-courses-caption p {
  font-size: 35px;
}
#index-slider .carousel-inner .carousel-item .css-course-detail-captation {
  left: 5%;
  width: 440px;
}
#index-slider .carousel-inner .carousel-item .css-course-detail-captation h1 {
  color: #75c6c7;
  font-size: 45px;
}
#index-slider .carousel-inner .carousel-item .css-course-detail-captation h2 {
  font-size: 35px;
  color: #75c6c7;
}
#index-slider .css-login {
  width: 500px;
  background-color: #184556;
  border: solid 1px #74C6C7;
  padding: 20px;
  margin-top: 10px;
}

#search-secion button {
  height: 42px;
  width: 80%;
  border: 1px solid #75c6c7;
}
#search-secion .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 8px;
}
#search-secion .select2-container--default .select2-selection--single,
#search-secion .select2-selection .select2-selection--single {
  padding: 20px 12px;
  height: 34px;
  text-align: center;
}
#search-secion .select2-container--default .select2-selection--single,
#search-secion .select2-container--default .select2-selection .select2-selection--single {
  border-top: 1px solid #333e47;
  border-left: 1px solid #333e47;
  border-bottom: 1px solid #333e47;
}
#search-secion .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #6e6e6e;
}
#search-secion .css-description h3 {
  font-family: "museo_slab700";
  color: #377789;
  font-size: 32px;
  margin: 40px 0 25px 0;
}
#search-secion .css-course-detail-panel {
  position: relative;
  width: 80%;
  min-height: 200px;
  background-color: #f5f5f5;
  margin: 150px auto;
  display: block;
}
#search-secion .css-course-detail-panel .css-tag {
  position: absolute;
  width: 60%;
  top: -50px;
  left: -50px;
  background-color: #184556;
  padding: 0 15px;
}
#search-secion .css-course-detail-panel .css-tag h2 {
  color: #75c6c7;
}
#search-secion .css-course-detail-panel .css-text {
  padding: 100px 30px 30px 30px;
}
#search-secion .css-course-detail-panel .css-text .css-title {
  font-family: "raleway_medium";
  font-size: 20px;
}
#search-secion .css-course-detail-panel .css-image {
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
#search-secion .css-course-description h2 {
  font-size: 30px;
}
#search-secion .css-course-description h3 {
  font-size: 25px;
  font-family: "museo_slab700";
  color: #377789;
}
#search-secion .css-course-description .css-price {
  color: #333e47;
}
#search-secion .css-course-description .btn-link {
  background-color: #184556;
  font-family: "museo_slab700";
}

#sponsor-section {
  padding: 40px 0;
}
#sponsor-section h2 {
  color: #377789;
  font-size: 35px;
}
#sponsor-section .css-sponsor {
  text-align: center;
  margin-top: 40px;
}
#sponsor-section .css-sponsor img {
  vertical-align: bottom;
}

#carousel-promo, #carousel-team, #carousel-installation {
  display: none;
}

#carousel-courses {
  display: none;
}

section {
  padding: 90px 0;
}
section h2 {
  color: #377789;
  font-size: 30px;
}
section p {
  color: #333e47;
}

.css-panel-courses {
  position: relative;
  margin-bottom: 20px;
}
.css-panel-courses img {
  object-fit: cover;
  height: 200px !important;
  width: 100%;
}
.css-panel-courses .css-tag {
  position: absolute;
  left: -10px;
  top: 10px;
  font-family: "museo_slab700";
  background-color: #184556;
  color: #96d3e0;
  border: 2px solid #96d3e0;
  padding: 2px 2px 2px 7px;
  width: 110px;
  font-size: 14px;
}
.css-panel-courses .css-panel-text {
  background-color: #e8e8e8;
  min-height: 250px;
  text-align: center;
  padding: 15px 20px;
}
.css-panel-courses .css-panel-text h4 {
  color: #377789;
  font-family: "museo_slab700";
  font-size: 18px;
  font-weight: 500;
}
.css-panel-courses .css-panel-text p {
  color: #333e47;
  margin-top: 10px;
  font-size: 14px;
}
.css-panel-courses .css-panel-text a {
    color: #377789;
    font-family: "museo_slab700";
    font-size: 14px;
    text-transform: lowercase;
    border: solid 1px #377789;
    padding: 6px 8px;
	text-decoration: none;
}
.css-panel-courses .css-panel-text a:hover {
    color: #fff;
	background: #377789;
}
.css-panel-courses .css-advanced {
  background-color: #96d3e0;
}
.css-panel-courses .css-professional {
  background-color: #184556;
  color: #FFF;
}
.css-panel-courses .css-professional h4, .css-panel-courses .css-professional a, .css-panel-courses .css-professional p {
  color: #FFF;
}

.col-lg-4 .css-panel-courses .css-panel-text {
  min-height: 50px !important;
}

.css-parallax-sea-1 {
  background-image: var(--parallax-sea-1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 550px;
}

.css-parallax-sea-2 {
  background-image: var(--parallax-sea-2);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 450px;
  padding: 70px 0;
}

.css-parallax-sea-3 {
  background-image: var(--parallax-sea-3);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 450px;
  padding: 70px 0;
}

.css-parallax-sea-4 {
  background-image: var(--parallax-sea-4);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 450px;
  padding: 70px 0;
}

.css-panel-img-right {
  position: relative;
}
.css-panel-img-right div {
  width: 80%;
  height: 305px;
  background-color: #002c44;
  padding: 30px 299px 20px 40px;
}
.css-panel-img-right div h2 {
  color: #75c6c7;
  font-size: 32px;
}
.css-panel-img-right div p {
  color: #FFF;
  font-size: 14px;
}
.css-panel-img-right div .btn-link {
  background-color: #184556;
}
.css-panel-img-right img {
  position: absolute;
  bottom: -35px;
  right: 0;
  width: auto;
  height: 270px;
}

.css-panel-img-left {
  position: relative;
}
.css-panel-img-left div {
  float: right;
  width: 80%;
  height: 305px;
  background-color: #002c44;
  padding: 30px 40px 20px 299px;
}
.css-panel-img-left div h2 {
  color: #75c6c7;
  font-size: 32px;
}
.css-panel-img-left div p {
  color: #FFF;
  font-size: 14px;
}
.css-panel-img-left div .btn-link {
  background-color: #184556;
}
.css-panel-img-left img {
  position: absolute;
  bottom: -35px;
  left: 0;
  width: auto;
  height: 270px;
}

footer .css-subfooter {
  padding: 40px 0;
  background-color: #333e47;
}
footer .css-footer {
  margin-top: 3px;
  padding: 15px 0;
  background-color: #377789;
}
footer .css-footer .css-footer-links {
  text-align: center;
}
footer .css-footer .css-footer-links a {
  color: #FFF;
}
footer .css-footer .css-footer-links a:hover {
  color: #FFF;
  text-decoration: underline;
}
footer .css-footer .css-social {
  margin-top: 15px;
}
footer .css-footer .css-social div {
  width: 25px;
  height: 25px;
  border-radius: 14px;
  background-color: #05202e;
  text-align: center;
  display: inline-block;
  padding: 2px 0 0 0;
  font-size: 13px;
}
footer .css-footer .css-social a {
  color: #377789;
}
footer h2 {
  color: #75c6c7;
}
footer p {
  color: #FFF;
}

.navbar-brand {
  z-index: 9999;
  position: relative;
}

#team-section h2 {
  color: #75c6c7;
}
#team-section h4 {
  font-family: "museo_slab700";
  color: #FFF;
  font-size: 32px;
  margin-top: 30px;
}
#team-section p {
  color: #FFF;
  font-family: "raleway_medium";
  margin-top: 30px;
  font-size: 17px;
}
#team-section .css-team-panel {
  position: relative;
  margin-bottom: 30px;
}
#team-section .css-team-panel img {
  object-fit: cover;
  width: 100%;
  height: auto;
}
#team-section .css-team-panel .css-tag {
  position: absolute;
  bottom: -19px;
  left: -12px;
  background-image: var(--team-tag);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
  width: 160px;
  color: #184556;
  font-family: "museo_slab700";
  padding: 10px 0 0 5px;
  font-size: 14px;
}
#team-section .col-lg-6:nth-child(2) p {
  margin-top: 0;
  margin-bottom: 15px;
}
#team-section .col-lg-6:nth-child(2) h4 {
  font-size: 30px;
}
#team-section .col-lg-6:nth-child(2) .btn-link {
  color: #184556;
  background-color: #75c6c7;
  font-family: "museo_slab700";
  padding: 5px;
  border: 1px solid #184556 !important;
  font-size: 17px;
}

#installation-section {
  padding-bottom: 0;
}
#installation-section .container-fluid .col-sm-4, #installation-section #installation-section .col-sm-4 {
  overflow: hidden;
  padding: 0;
}
#installation-section .folio-item {
  position: relative;
}
#installation-section .overlay {
  background-color: #000;
  color: #fff;
  left: 0;
  right: 0;
  bottom: -100%;
  height: 0;
  position: absolute;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#installation-section .overlay .overlay-content {
  display: table;
  height: 100%;
  width: 100%;
}
#installation-section .overlay .overlay-text {
  display: table-cell;
  vertical-align: middle;
}
#installation-section .overlay .folio-info {
  opacity: 0;
  margin-bottom: 75px;
  margin-top: -75px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
#installation-section .overlay .folio-info h3 {
  margin-top: 0;
  color: #fff;
}
#installation-section .folio-overview a {
  font-size: 18px;
  color: #333;
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  margin-top: 20px;
  margin-right: 5px;
}
#installation-section .folio-overview a:hover {
  color: #fff;
}
#installation-section .folio-overview .folio-expand {
  margin-top: -500px;
  margin-left: -500px;
}
#installation-section .folio-overview .folio-expand {
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
#installation-section .folio-image, #installation-section .folio-overview {
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
#installation-section .folio-item:hover .folio-image {
  -webkit-transform: scale(1.5) rotate(-15deg);
  transform: scale(1.5) rotate(-15deg);
}
#installation-section .folio-item:hover .overlay {
  opacity: 0.8;
  bottom: 0;
  height: 100%;
}
#installation-section .folio-item:hover .overlay .folio-info {
  opacity: 1;
  margin-bottom: 0;
  margin-top: 0;
}
#installation-section .folio-item:hover .folio-overview .folio-expand {
  margin-top: 0;
  margin-left: 0;
}
#installation-section .folio-image img {
  width: 100%;
}
#installation-section .css-installation-panel div {
  height: 100%;
  background-color: #002e44;
  padding: 30px;
}
#installation-section .css-installation-panel h3 {
  font-family: "museo_slab700";
  color: #75c6c7;
  font-size: 2em;
}
#installation-section .css-installation-panel p {
  color: #FFF;
  font-size: 15px;
  font-family: "raleway_medium";
}
#installation-section .folio-item h3 {
  font-family: "museo_slab700";
}

#team-detail-section {
  padding: 20px 0 0 0;
}
#team-detail-section h2 {
  color: #75c6c7;
}
#team-detail-section p {
  color: #FFF;
  font-family: "raleway_medium";
}
#team-detail-section h3 {
  margin-top: 60px;
  color: #FFF;
  font-family: "museo_slab700";
  font-size: 38px;
}
#team-detail-section .css-contact-info {
  color: #75c6c7;
  font-family: "raleway_semibold";
  margin: 0;
}
#team-detail-section .css-social {
  margin-top: 15px;
}
#team-detail-section .css-social div {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #FFF;
  text-align: center;
  display: inline-block;
  padding: 5px 0 0 0;
  font-size: 21px;
  text-align: center;
}
#team-detail-section .css-social a {
  color: #184556;
}

#destination-info-section {
  background-color: #f5f5f5;
}
#destination-info-section h2 {
  font-size: 30px;
}
#destination-info-section .btn-link {
  background-color: #184556;
  font-family: "museo_slab700";
}

.css-gallery-section {
  padding: 0;
}
.css-gallery-section .row {
  position: relative;
}
.css-gallery-section .col-lg-4 {
  padding: 0;
}
.css-gallery-section .col-lg-4 img {
  object-fit: cover;
  width: 100%;
  height: auto;
}
.css-gallery-section .col-lg-4 .css-img-100 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.css-gallery-section .col-lg-4 .css-img-100 img {
  height: 100%;
  width: 100%;
}

/*# sourceMappingURL=css-styles.css.map */
