/*---------------------
[Responsive Stylesheet]
---------------------*/
/* Laptop Landscape */
/* Tablet Landscape */
/* Tablet Portrait */
/* Mobile Landscape */
@media only screen and (min-width: 760px) and (max-width: 770px) {
  .css-header .css-navigation .css-subnav {
    display: none;
  }

  .navbar-brand {
    z-index: 9999;
    position: relative;
    text-align: left !important;
    display: inline-block !important;
  }

  .css-navigation {
    padding-top: 25px;
  }
  .css-navigation .navbar-nav {
    margin-top: 15px;
    background-color: #002c44;
  }
  .css-navigation .navbar-nav .nav-link {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
  }
  .css-navigation .navbar-nav a:hover {
    color: #FFF;
  }
  .css-navigation .navbar {
    display: inherit;
    float: right;
  }
  .css-navigation .navbar #main-nav {
    width: 100% !important;
  }
  .css-navigation .navbar .navbar-toggler {
    float: right;
    border: none;
    color: #FFF;
    font-size: 35px;
  }
  .css-navigation .navbar-light .css-nav-mobile-icon {
    z-index: 999;
    position: relative;
    color: #FFF;
    font-size: 29px;
    margin-right: 20px;
    display: inline;
  }
  .css-navigation .css-fixed-logo {
    display: none !important;
  }
  .css-navigation .css-navbar-fixed-top {
    display: none !important;
  }
  .css-navigation #web-menu {
    display: none;
  }
  .css-navigation #mobile-menu {
    display: block;
    z-index: 9999;
    position: relative;
  }
  .css-navigation #mobile-menu #sidebar {
    height: 100vh;
    background-color: #184556;
    margin-top: -25px;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 70%;
  }
  .css-navigation #mobile-menu #sidebar .list-group .css-sidebar-option {
    display: block;
    text-align: right;
    margin-bottom: 40px;
  }
  .css-navigation #mobile-menu #sidebar .list-group .css-sidebar-option a {
    display: inline;
    color: #FFF;
    font-size: 35px;
    margin-left: 20px;
  }
  .css-navigation #mobile-menu #sidebar .list-group-item {
    border-radius: 0;
    background-color: #184556;
    color: #FFF;
    border: none;
    white-space: nowrap;
    text-decoration: none;
  }
}
@media only screen and (min-width: 760px) and (max-width: 770px) and (max-width: 48em) {
  .css-navigation #mobile-menu #sidebar .list-group > .list-group-item {
    text-align: left;
    padding: 0.75rem 5.5rem;
    min-width: 39px;
    font-family: "raleway_semibold";
  }
}
@media only screen and (min-width: 760px) and (max-width: 770px) {
  .css-navigation #mobile-menu #sidebar.collapsing {
    opacity: 0.8;
    width: 0;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition-property: width;
    -o-transition-property: width;
    transition-property: width;
  }
}
@media only screen and (min-width: 760px) and (max-width: 770px) {
  .css-navigation .css-submenu-responsive {
    float: right;
  }
  .css-navigation .css-submenu-responsive a {
    color: #FFF;
    font-size: 35px;
    margin-left: 25px;
  }
}
@media only screen and (min-width: 760px) and (max-width: 770px) {
  #search-secion button {
    width: 100%;
  }
  #search-secion .css-marginT100 {
    margin-top: 30px !important;
  }
}
@media only screen and (min-width: 760px) and (max-width: 770px) {
  .css-parallax-sea-1 {
    background-image: var(--parallax-sea-1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: inherit;
    height: 450px;
  }
}
@media only screen and (min-width: 760px) and (max-width: 770px) {
  .css-parallax-sea-2 {
    background-image: var(--parallax-sea-2);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: inherit;
    height: 450px;
    padding: 70px 0;
  }
}
@media only screen and (min-width: 760px) and (max-width: 770px) {
  #promo-section h2 {
    font-size: 30px;
  }
  #promo-section .css-marginT100 {
    margin-top: 50px !important;
  }
  #promo-section .css-panel-img-right div {
    width: 100%;
    height: 220px;
    background-color: #002c44;
    padding: 20px;
    text-align: center;
  }
  #promo-section .css-panel-img-right div h2 {
    color: #75c6c7;
    font-size: 40px;
  }
  #promo-section .css-panel-img-right div p {
    color: #FFF;
    font-size: 16px;
  }
  #promo-section .css-panel-img-right div .btn-link {
    background-color: #184556;
  }
  #promo-section .css-panel-img-right img {
    position: inherit;
    bottom: 0;
    width: 100%;
    height: auto;
  }
  #promo-section .css-panel-img-left {
    position: relative;
  }
  #promo-section .css-panel-img-left div {
    width: 100%;
    height: 220px;
    background-color: #002c44;
    padding: 20px;
    text-align: center;
  }
  #promo-section .css-panel-img-left div h2 {
    color: #75c6c7;
    font-size: 40px;
  }
  #promo-section .css-panel-img-left div p {
    color: #FFF;
    font-size: 16px;
  }
  #promo-section .css-panel-img-left div .btn-link {
    background-color: #184556;
  }
  #promo-section .css-panel-img-left img {
    position: inherit;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
}
@media only screen and (min-width: 760px) and (max-width: 770px) {
  #installation-section {
    padding-bottom: 0;
  }
  #installation-section .container-fluid .col-sm-4, #installation-section #installation-section .col-sm-4 {
    overflow: hidden;
    padding: 0;
  }
  #installation-section .folio-item {
    position: relative;
  }
  #installation-section .overlay {
    background-color: #000;
    color: #fff;
    left: 0;
    right: 0;
    bottom: -100%;
    height: 0;
    position: absolute;
    text-align: center;
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  #installation-section .overlay .overlay-content {
    display: table;
    height: 100%;
    width: 100%;
  }
  #installation-section .overlay .overlay-text {
    display: table-cell;
    vertical-align: middle;
  }
  #installation-section .overlay .folio-info {
    opacity: 0;
    margin-bottom: 75px;
    margin-top: -75px;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  #installation-section .overlay .folio-info h3 {
    margin-top: 0;
    color: #fff;
  }
  #installation-section .folio-overview a {
    font-size: 18px;
    color: #333;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: inline-block;
    margin-top: 20px;
    margin-right: 5px;
  }
  #installation-section .folio-overview a:hover {
    color: #fff;
  }
  #installation-section .folio-overview .folio-expand {
    margin-top: -500px;
    margin-left: -500px;
  }
  #installation-section .folio-overview .folio-expand {
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
  }
  #installation-section .folio-image, #installation-section .folio-overview {
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
  }
  #installation-section .folio-item:hover .folio-image {
    -webkit-transform: scale(1.5) rotate(-15deg);
    transform: scale(1.5) rotate(-15deg);
  }
  #installation-section .folio-item:hover .overlay {
    opacity: 0.8;
    bottom: 0;
    height: 100%;
  }
  #installation-section .folio-item:hover .overlay .folio-info {
    opacity: 1;
    margin-bottom: 0;
    margin-top: 0;
  }
  #installation-section .folio-item:hover .folio-overview .folio-expand {
    margin-top: 0;
    margin-left: 0;
  }
  #installation-section .folio-image img {
    width: 100%;
  }
  #installation-section .css-installation-panel div {
    height: 100%;
    background-color: #002e44;
    padding: 30px;
  }
  #installation-section .css-installation-panel h3 {
    font-family: "museo_slab700";
    color: #75c6c7;
    font-size: 1.5em;
  }
  #installation-section .css-installation-panel p {
    color: #FFF;
    font-size: 14px;
    font-family: "raleway_medium";
  }
  #installation-section .folio-item h3 {
    font-family: "museo_slab700";
  }
}
@media only screen and (min-width: 760px) and (max-width: 770px) {
  #team-detail-section {
    padding: 20px 0 40px 0;
  }
}
@media only screen and (max-width: 760px) {
  .css-header .css-navigation .css-subnav {
    display: none;
  }

  .navbar-brand {
    margin-right: 0;
  }

  .css-navigation {
    padding-top: 25px;
  }
  .css-navigation .navbar {
    margin-top: 20px;
  }
  .css-navigation .navbar-nav {
    margin-top: 15px;
    background-color: #002c44;
  }
  .css-navigation .navbar-nav .nav-link {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
  }
  .css-navigation .navbar-light .css-nav-mobile-icon {
    z-index: 999;
    position: relative;
    color: #FFF;
    font-size: 25px;
    display: inline;
  }
  .css-navigation .navbar-light .navbar-toggler {
    border: none;
    color: #FFF;
    font-size: 25px;
  }
  .css-navigation #web-menu {
    display: none;
  }
  .css-navigation #mobile-menu {
    display: block;
    z-index: 9999;
    position: relative;
    text-align: center;
  }
  .css-navigation #mobile-menu img {
    margin-bottom: 30px;
  }
  .css-navigation #mobile-menu #sidebar {
    height: 100vh;
    background-color: #184556;
    margin-top: -25px;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 70%;
  }
  .css-navigation #mobile-menu #sidebar .list-group .css-sidebar-option {
    display: block;
    text-align: right;
    margin-bottom: 40px;
  }
  .css-navigation #mobile-menu #sidebar .list-group .css-sidebar-option a {
    display: inline;
    color: #FFF;
    font-size: 25px;
    margin-left: 20px;
  }
  .css-navigation #mobile-menu #sidebar .list-group-item {
    border-radius: 0;
    background-color: #184556;
    color: #FFF;
    border: none;
    white-space: nowrap;
    text-decoration: none;
  }
}
@media only screen and (max-width: 760px) and (max-width: 48em) {
  .css-navigation #mobile-menu #sidebar .list-group > .list-group-item {
    text-align: left;
    padding: 0.75rem 2.5rem;
    min-width: 39px;
    font-family: "raleway_semibold";
  }
}
@media only screen and (max-width: 760px) {
  .css-navigation #mobile-menu #sidebar.collapsing {
    opacity: 0.8;
    width: 0;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition-property: width;
    -o-transition-property: width;
    transition-property: width;
  }
}
@media only screen and (max-width: 760px) {
  .css-navigation .css-submenu-responsive {
    float: none;
  }
  .css-navigation .css-submenu-responsive a {
    color: #FFF;
    font-size: 35px;
    padding: 0 20px;
  }
}
@media only screen and (max-width: 760px) {
  #index-slider .carousel-inner .carousel-item .carousel-caption {
    text-align: center;
    width: 100%;
    left: 0;
  }
  #index-slider .carousel-inner .carousel-item .carousel-caption h1 {
    font-size: 25px;
  }
  #index-slider .carousel-inner .carousel-item .css-courses-caption {
    color: #FFF;
  }
  #index-slider .carousel-inner .carousel-item .css-courses-caption h1 {
    font-size: 35px;
  }
  #index-slider .carousel-inner .carousel-item .css-courses-caption p {
    font-size: 25px;
  }
}
@media only screen and (max-width: 760px) {
  #search-secion button {
    width: 100%;
    border-radius: 6px;
  }
  #search-secion .css-noPadding {
    padding: 0 20px !important;
    margin-bottom: 20px;
  }
  #search-secion .select2-container--default .select2-selection--single,
#search-secion .select2-container--default .select2-selection .select2-selection--single {
    border: 1px solid #333e47;
  }
  #search-secion .select2-selection--single {
    border-radius: 6px;
  }
  #search-secion .css-marginT100 {
    margin-top: 15px !important;
  }
  #search-secion h2 {
    font-size: 25px;
  }
  #search-secion #carousel-courses {
    display: block;
  }
  #search-secion #carousel-courses .css-panel-courses .css-panel-text {
    position: relative;
    width: 100%;
  }
  #search-secion #carousel-courses .css-panel-courses .css-panel-text h2 {
    margin-top: 25px;
  }
  #search-secion #carousel-courses .css-panel-courses .css-panel-text .css-tag {
    top: -15px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  #search-secion #carousel-courses .carousel-control-prev-icon {
    background-image: inherit;
    font-size: 30px;
  }
  #search-secion #carousel-courses .carousel-control-next-icon {
    background-image: inherit;
    font-size: 30px;
  }
  #search-secion #carousel-courses .carousel-control-next, #search-secion #carousel-courses .carousel-control-prev {
    top: -110px;
    opacity: 1;
  }
}
@media only screen and (max-width: 760px) {
  .css-parallax-sea-1 {
    background-image: var(--parallax-sea-1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: inherit;
    height: 450px;
  }
}
@media only screen and (max-width: 760px) {
  .css-parallax-sea-2 {
    background-image: var(--parallax-sea-2);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: inherit;
    height: 450px;
    padding: 70px 0;
  }
}
@media only screen and (max-width: 760px) {
  #promo-section h2 {
    font-size: 30px;
  }
  #promo-section .css-marginT100 {
    margin-top: 50px !important;
  }
  #promo-section .css-panel-img-right div {
    width: 100%;
    height: 315px;
    background-color: #002c44;
    padding: 20px;
    text-align: center;
  }
  #promo-section .css-panel-img-right div h2 {
    color: #75c6c7;
    font-size: 25px;
  }
  #promo-section .css-panel-img-right div p {
    color: #FFF;
    font-size: 16px;
  }
  #promo-section .css-panel-img-right div .btn-link {
    background-color: #184556;
  }
  #promo-section .css-panel-img-right img {
    position: inherit;
    bottom: 0;
    width: 100%;
    height: auto;
  }
  #promo-section .css-panel-img-left {
    position: relative;
  }
  #promo-section .css-panel-img-left div {
    width: 100%;
    height: 315px;
    background-color: #002c44;
    padding: 20px;
    text-align: center;
  }
  #promo-section .css-panel-img-left div h2 {
    color: #75c6c7;
    font-size: 25px;
  }
  #promo-section .css-panel-img-left div p {
    color: #FFF;
    font-size: 16px;
  }
  #promo-section .css-panel-img-left div .btn-link {
    background-color: #184556;
  }
  #promo-section .css-panel-img-left img {
    position: inherit;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
  #promo-section .css-promo-panels-pc {
    display: none;
  }
}
@media only screen and (max-width: 760px) {
  #carousel-promo, #carousel-team, #carousel-installation {
    display: block;
  }
  #carousel-promo .carousel-control-prev-icon, #carousel-team .carousel-control-prev-icon, #carousel-installation .carousel-control-prev-icon {
    background-image: inherit;
    font-size: 30px;
  }
  #carousel-promo .carousel-control-next-icon, #carousel-team .carousel-control-next-icon, #carousel-installation .carousel-control-next-icon {
    background-image: inherit;
    font-size: 30px;
  }
  #carousel-promo .carousel-control-next, #carousel-promo .carousel-control-prev, #carousel-team .carousel-control-next, #carousel-team .carousel-control-prev, #carousel-installation .carousel-control-next, #carousel-installation .carousel-control-prev {
    top: -142px;
    opacity: 1;
  }
}
@media only screen and (max-width: 760px) {
  #carousel-team .css-tag, #carousel-installation .css-tag {
    left: 25px !important;
  }
  #carousel-team .carousel-control-next, #carousel-team .carousel-control-prev, #carousel-installation .carousel-control-next, #carousel-installation .carousel-control-prev {
    top: -50px;
    opacity: 1;
  }
}
@media only screen and (max-width: 760px) {
  #sponsor-section {
    padding: 20px 0;
  }
  #sponsor-section h2 {
    display: none;
  }
}
@media only screen and (max-width: 760px) {
  .css-subfooter {
    text-align: center;
  }
}
@media only screen and (max-width: 760px) {
  .css-courses-panels-pc {
    display: none;
  }
}
@media only screen and (max-width: 760px) {
  .css-team-header {
    background-position: center -150px;
  }
}
@media only screen and (max-width: 760px) {
  #team-section h2 {
    font-size: 40px;
  }
  #team-section h2:nth-last-child(-n+1) {
    font-size: 22px;
  }
}
@media only screen and (max-width: 760px) {
  .css-pc-view {
    display: none;
  }
}
@media only screen and (max-width: 760px) {
  #installation-section {
    padding: 0;
  }
}
@media only screen and (max-width: 760px) {
  #team-detail-section {
    padding: 20px 0 40px 0;
  }
}
@media only screen and (max-width: 760px) {
  .css-courses-header {
    background-position: right;
  }
}
/* Mobile Portrait */
/* Old Mobiles */

/*# sourceMappingURL=css-responsive.css.map */
