/* :root {
    --index-header-image: url('http://localhost/fourdivers/public/images/sliders/bg.jpg');
    --team-header-image: url('http://localhost/fourdivers/public/images/sliders/team-bg.jpg');
    --courses-header-image: url('http://localhost/fourdivers/public/images/sliders/courses.jpg');
    --destinations-header-image: url('http://localhost/fourdivers/public/images/sliders/destinations.jpg');
    --parallax-sea-1: url('http://localhost/fourdivers/public/images/backgrounds/sea-1.jpg');
    --parallax-sea-2: url('http://localhost/fourdivers/public/images/backgrounds/sea-2.jpg');
    --parallax-sea-3: url('http://localhost/fourdivers/public/images/backgrounds/sea-3.jpg');
    --parallax-sea-4: url('http://localhost/fourdivers/public/images/backgrounds/sea-4.jpg');
    --team-tag: url('http://localhost/fourdivers/public/images/web/tag-bg.png');
} */

:root {
    --index-header-image: url('https://www.fourdivers.com/web/public/images/sliders/bg.jpg');
    --team-header-image: url('https://www.fourdivers.com/web/public/images/sliders/team-bg.jpg');
    --courses-header-image: url('https://www.fourdivers.com/web/public/images/sliders/courses.jpg');
    --destinations-header-image: url('https://www.fourdivers.com/web/public/images/sliders/destinations.jpg');
    --parallax-sea-1: url('https://www.fourdivers.com/web/public/images/backgrounds/sea-1.jpg');
    --parallax-sea-2: url('https://www.fourdivers.com/web/public/images/backgrounds/sea-2.jpg');
    --parallax-sea-3: url('https://www.fourdivers.com/web/public/images/backgrounds/sea-3.jpg');
    --parallax-sea-4: url('https://www.fourdivers.com/web/public/images/backgrounds/sea-4.jpg');
    --team-tag: url('https://www.fourdivers.com/web/public/images/web/tag-bg.png');
}