
<!--MODAL TALLAS Y EQUIPO-->
<!-- Desde ficha usuario info only: remove class="only-ship-out"-->
<!-- Desde salidas, equipo asignado para esa salida en concreto-->
<div class="modal" id="modalTallas" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4 class="m-t-none"><span id="modal-equipment-sizes-name"></span></h4>
                <p>Tallas <span class="only-ship-out">y equipo asigando</span></p>
                <table  class="table m-t-md">
                    <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>Talla</th>
                            <th class="only-ship-out">Marca</th>
                            <th class="only-ship-out">Und.</th>
                            <th class="only-ship-out">Info</th>
                        </tr>
                    </thead>
                    <tbody id="modal-equipment-sizes-tbody">

                        <tr data-equipment-id="1">
                            <td>Traje</td>
                            <td></td>
                            <td class="only-ship-out"></td>
                            <td class="only-ship-out"></td>
                            <td class="only-ship-out"></td>
                        </tr>
                        <tr data-equipment-id="6">
                            <td>Jacket</td>
                            <td></td>
                            <td class="only-ship-out"></td>
                            <td class="only-ship-out"></td>
                            <td class="only-ship-out"></td>
                        </tr>

                        <tr data-equipment-id="7">
                            <td>Aletas</td>
                            <td></td>
                            <td class="only-ship-out"></td>
                            <td class="only-ship-out"></td>
                            <td class="only-ship-out"></td>
                        </tr>

                        <tr data-equipment-id="8">
                            <td>Máscaras</td>
                            <td></td>
                            <td class="only-ship-out"></td>
                            <td class="only-ship-out"></td>
                            <td class="only-ship-out"></td>
                        </tr>

                        <tr data-equipment-id="9">
                            <td>Escarpines</td>
                            <td></td>
                            <td class="only-ship-out"></td>
                            <td class="only-ship-out"></td>
                            <td class="only-ship-out"></td>
                        </tr>

                        <tr data-equipment-id="10">
                            <td>Aletas calzantes</td>
                            <td> </td>
                            <td class="only-ship-out"></td>
                            <td class="only-ship-out"></td>
                            <td class="only-ship-out"></td>
                        </tr>

                        <tr data-equipment-id="2">
                            <td>Botellas</td>
                            <td> </td>
                            <td class="only-ship-out"></td>
                            <td class="only-ship-out"></td>
                            <td class="only-ship-out"></td>
                        </tr>

                        <tr data-equipment-id="5">
                            <td>Focos</td>
                            <td> </td>
                            <td class="only-ship-out"></td>
                            <td class="only-ship-out"></td>
                            <td class="only-ship-out"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">cerrar</button>
            </div>
        </div>
    </div>
</div>
                    <!--END.MODAL TALLAS Y EQUIPO-->