  #datetimepicker6 #datetimepicker7, .dropdown-menu {
    color: #949ba2 !important;
    background-color: #2f323b !important;
        min-width: 16rem;
}
    
  .table > thead > tr > td.active, .table > tbody > tr > td.active, .table > tfoot > tr > td.active, .table > thead > tr > th.active, .table > tbody > tr > th.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > tbody > tr.active > td, .table > tfoot > tr.active > td, .table > thead > tr.active > th, .table > tbody > tr.active > th, .table > tfoot > tr.active > th {
    background-color: #f6a821 !important;
    color: #fff !important;
}
    
    .bootstrap-datetimepicker-widget table {
    width: 100%;
    margin: 0;
}
    
    .bootstrap-datetimepicker-widget .picker-switch td span {
    width: 100%;
    font-size: 24px;
    text-align: center;
    padding: 15px 0 0 0;
      cursor: pointer;
}
    
    .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 5px 5px;
}